.Rproj.user
.Ruserdata
.DS_Store
Thumbs.db
.Rhistory
.RData
.Ruser_profile
.Renviron

# Data files (too large for git; stored externally)
data/
data/cache
data/synthetic_pop/SPtrip_CensusNTSALS_parquet
data/synthetic_pop/SPindivid_CensusNTSALS.dta
data/synthetic_pop/SPtrip_CensusNTSALS.dta