export(calculate_health_adjusted_life_years)
export(prepare_assumption_profile)
export(get_appraisal_assumptions)
export(get_appraisal_assumption_dependencies)
export(convert_timeframe_value)
export(get_geo_levels)
export(get_geo_details)
export(get_geo_name)
export(get_geo_options)
export(get_assessment_period)
export(get_scheme_effect_timeline)
export(get_scheme_effect_summary)
export(get_health_outcome_options)
export(get_results_highlights)
export(get_results_options)
export(get_ui_options)
export(Hub)
export(miama_default_config)
export(prepare_results_data)
export(prepare_results_amat_outputs)
export(prepare_results_exports)
export(receive_appraisal_inputs)
export(results_filter_health_data)
export(results_plot_health_impacts)
export(results_plot_health_overview)
export(results_plot_health_timeline)
export(results_plot_trip_mode_distribution)
export(spread_bar_values_from_slider)
export(write_results_amat_csv)
export(write_results_csv)
export(write_results_plot_pngs)
export(write_results_plots_zip)
export(write_results_report)
export(write_results_xlsx)
importFrom(R6,R6Class)
import(data.table)
export(get_packaged_geo_options)
export(select_geographic_profile)
